.B_Home {
    width: 100%;
    height: 122vh;
    display: grid;
    grid-template-rows: 94% 6%;
}


body:hover {
    cursor: default;
}

input:hover {
    cursor: default;
}

.B_main_box {
    display: grid;
    grid-template-columns: 25% 75%;

}

.B_sidebar_box {
    background-color: rgba(15, 82, 69, 1);
}

.B_logo_body {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.B_logo {
    width: 30%;
    height: 30%;


}

.B_searchbody {
    width: 100%;
    height: 10%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.B_searchbody input {
    border-radius: 6px;
    width: 80%;
    height: 40%;
}

.B_place_card {
    width: 99%;
    height: 40%;
    border: 2px solid red;
    background-color: blue;
    margin-bottom: 3%;
}

.B_My_Planes_Side {
    width: 99%;
    height: 30%;
    border: 2px solid red;
    background-color: blue;
}

.B_rightside_box {
    display: grid;
    grid-template-rows: 12% 88%;
}

.B_container {
    background-color: white;
    position: relative;
}

.B_containerBody {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.B_navibar_box {
    width: 100%;
    margin-top: 1%;
}

.B_card1 {

    width: 100%;
    z-index: 11;
    height: 40%;
    display: flex;
    flex-direction: row;

}

.B_card11 {
    position: relative;
    top: 5%;
    width: 70%;
    z-index: 12;
    height: 95%;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.B_card12 {
    width: 30%;
    z-index: 12;
    height: 100%;
    align-content: center;

}

.B_frame11 {

    border: 2px solid rgb(164, 217, 207);
    width: 98%;
    height: 110%;
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: left;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;

}

.B_frame11 p {
    text-indent: 2%;
    width: 170%;
    /* border: 2px solid red; */
}

.B_input1 {
    position: relative;
    left: 10%;
}

.B_input1 input {
    width: 60%;
}

.B_input2 {
    position: relative;
    left: 15%;
}

.B_input2 input {
    width: 60%;
}

.B_input3 {
    position: relative;
    left: 21%;
}

.B_iconimage1 {
    position: relative;
    left: 20%;
}

.B_input3 input {
    width: 56%;
}

.B_input4 {
    position: relative;
    left: 12.5%;
}

.B_iconimage2 {
    position: relative;
    left: 11.5%;
}

.B_input4 input {
    width: 30%;
}

.B_btn {
    position: relative;
    left: 15%;
}


.B_frame11_body .frame11_body_contnts {
    font-size: 90%;
}

.B_button11 {
    position: relative;
    left: 80%;

}

.B_p1 {
    text-indent: 2%;
}


.B_frame12 {
    border: 2px solid rgb(164, 217, 207);
    width: 96%;
    height: 96%;
    z-index: 500;
    position: relative;
    left: 2%;
    border-radius: 30px 0 0 0;
    background-color: rgb(19, 166, 138);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}



.B_image1 {
    width: 50%;
    height: 80%;
    border-radius: 50%;
}

.B_card2 {
    width: 100%;
    height: 100%;
    z-index: 11;
    display: flex;
    flex-direction: row;

}

.B_card21 {
    width: 70%;
    z-index: 12;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    position: relative;
    left: 0.5%;

}

.B_frame21 {
    border: 2px solid rgb(164, 217, 207);
    width: 98%;
    height: 80%;
    z-index: 500;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.B_frame21_body {
    font-size: 90%;
}

.B_frame21_body_01 p {
    text-indent: 2%;
    /* border: 2px solid red; */
}

.B_input5 {
    position: relative;
    left: 16%;

}

.B_input5 input {
    width: 60%;
}

.B_vehicle_type {
    position: relative;
    left: 13%;
}

.B_showThreeWheel {
    position: relative;
    left: 25%;
}

.B_showBike {
    position: relative;
    left: 18%;
}

.B_showCar {
    position: relative;
    left: 11%;
}

.B_input6 input {
    width: 8%;
    position: relative;
    left: 26%;
}

.B_input7 input {
    width: 8%;
    position: relative;
    left: 30%;
}

.B_input8 input {
    width: 8%;
    position: relative;
    left: 34%;
}

.B_bank {
    position: relative;
    left: 21%;
}

.B_branch {
    position: relative;
    left: 19%;
}

.B_input9 {
    position: relative;
    left: 20.5%;
}

.B_input9 input {
    width: 64%;
}

.B_input10 {
    position: relative;
    left: 9%;
}

.B_input10 input {
    width: 64%;
}

.B_Updatebtn {
    position: relative;
    left: 45%;
}

.B_CreateMyParkingSpacebtn button {
    position: relative;
    width: 96%;
    left: 1%;
}

.B_card22 {
    width: 30%;
    z-index: 12;
    height: 100%;
    display: flex;
    align-items: center;

}

.B_frame22 {
    width: 90%;
    height: 90%;
    z-index: 500;
    display: flex;
    flex-direction: column;


}

.B_frame22_body {
    font-size: 90%;
    position: relative;
    left: 10%;
}

.B_Intext {
    position: relative;
    left: 40%;
}

.B_input11 input {
    width: 30%;
}

.B_input12 input {
    width: 30%;
}

.B_input13 input {
    width: 30%;
}

.B_input14 input {
    width: 30%;
}

.B_input12 input {
    position: relative;
    left: 20%;
}

.B_input14 input {
    position: relative;
    left: 20%;
}

.B_rectragle {
    width: 100%;
    height: 40%;
    background-color: rgba(164, 217, 207, 1);
    position: absolute;
    left: 0;
    bottom: 0;

}

.B_water_mark {
    position: absolute;
    left: 25%;
    bottom: 0;
    width: 48%;
    opacity: 0.1;

}


@media (max-width:999px) {
    body {
        font-size: 80%;
        color: blue;
    }

    .B_frame11_body {
        font-size: 80%;
    }
}