.C_Home{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 94% 6%;
}

.C_main_box{
    display: grid;
    grid-template-columns: 25% 75%;
    
}

.C_sidebar_box{
    background-color: rgba(19, 166, 138, 1);
    align-items: center;
    display: grid;
    grid-template-rows: 20% 15% 30% 35%;
    z-index: 0;
}

.C_rightside_box{
    display: grid;
    grid-template-rows: 10% 90%;
}

.C_container{
    background-color: white;
    position: relative;
}

.C_logo{
    height: 75%;
    display: flex;
    justify-self: center;
}

.C_Map{
    height: 100%;
    text-align: center;
    
}

.C_shops{
    height: 100%;
    text-align: center; 
}

.C_search{
    width: 50%;
    height: 20px;
    border-radius: 10px;
    
}

.C_Map p{
    font-size: small;
    color: white;
} 

.C_profile{
    width: 75%;
    height: 68%;
    display: block;
    margin: 0 auto;
    border-radius: 10%;
    background-color: aqua;
}

.C_

.C_shop_view{
    background-color: aqua;
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 80%;
    border-radius: 10%;
}

.C_more{
    border-radius: 10px;
    width: 80px;
}

.C_main_topic{
    position: absolute;
    top: 3%;
    left: 5%;
    font-size: clamp(30px, 4vw, 100px);
    font-weight: 600;
    color: rgba(15, 82, 69, 1);
    margin: 0;
}

.C_description{
    position: absolute;
    font-size: 14px;
    top: 30%;
    left: 5%;
    width: 40%;
    text-align: justify;
}

.C_change_mode{
    position: absolute;
    top: 5%;
    right: 3%;
    width: 18%;
    height: 8%;
    margin: 0;
    padding: 0;
}

.C_triangle{
    width: 0;
    height: 0;
    border-left: 100vh solid transparent;
    border-bottom: 50vh solid rgba(19, 166, 138, 1);
    position: absolute;
    right: 0;
    bottom: 0;
}

.C_home_image{
    width: 60%;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
}

.C_rectragle{
    width: 100%;
    height: 40%;
    background-color: rgba(164, 217, 207, 1);
    position: absolute;
    left: 0;
    bottom: 0;
}

.C_water_mark{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 48%;
    opacity: 0.1;
}

.C_sidebar_mobile{
    display: none;
}

/*-----------------------------------------------------------------*/
@media (max-width: 900px) {
    .C_sidebar_box_hidden { 
      display: none;
    }

    .C_sidebar_box{
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        z-index: 1000;
        height: 94%;
    }

    .C_sidebar_mobile{ /*new small side bar*/
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: rgba(19, 166, 138, 1);
        margin: 0;
        padding: 0;
    }

    .C_show_button{  /*button for change the side bar size,minimuze side bar*/
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin: 0;
        padding: 0;
        margin-left: 90%;
        background-color: rgba(15, 82, 69, 1);
        border-color: white;
        z-index: 1000;
        border-width: 3px;
        cursor: pointer;
        color: white;
        font-size: 20px;
        font-weight: 600;
    }

    .C_show_button_move{ /*button for change the side bar size,maximuze side bar*/
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin: 0;
        padding: 0;
        left: 275px;
        top :45%;
        background-color: rgba(15, 82, 69, 1);
        border-color: white;
        z-index: 1100;
        border-width: 3px;
        cursor: pointer;
        color: white;
        font-size: 20px;
        font-weight: 600;
    }

    .C_logo_mobile{ /*small side bar logo*/
        width: 80%;
        margin: 20px 0 0 0;
    }

    .C_side_bar_tool{ /*small side bar list*/
        list-style: none;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0 0 0;
        padding: 0;
        
    }

    .C_side_tool{
        max-width: 100%;
        margin-bottom: 20px;
    }

    .C_main_box{
        grid-template-columns: 10% 90%;
    }

    .C_description{
        
        left: 8%;
        width: 45%;
    }

    .C_main_topic{
        font-size: clamp(30px, 5vw, 100px)
    }

    .C_rectragle{
        height: 30%;
    }

    .C_triangle{
        border-left: 85vh solid transparent;
        
    }

    

  }